@model WebApplication.Models.Category

@{
    ViewData["Title"] = "Create";
}
<h2>Создать Категории</h2>
<hr />
<div>
    <a asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
    </a>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h4>Категории</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название категории</label>
                <input asp-for="Name" class="form-control form-control-lg" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary btn-block btn-lg" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
        <div class="col-md-3">
            <img src="https://www.flaticon.com/svg/vstatic/svg/2674/2674505.svg?token=exp=1617269396~hmac=308a5f9c55654b879700f2808ed0ff9d" width="300" alt="Alternate Text" />
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
